
    <footer class="iq-footer white-bg text-center">
        <div class="container">
            <div class="row iq-ptb-60">
                <div class="col-sm-12">
                    <div class="heading-title iq-mb-40">
                        <h2 class="title iq-tw-6">Subscribe Our Newsletter</h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <form class="form-inline iq-subscribe">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter Your Email Here">
                        </div>
                        <a class="button iq-ml-25" href="# ">subscribe</a>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-copyright iq-ptb-20">© Copyright 2018 Appino Developed by <a target="_blank" href="https://iqonicthemes.com/">iqonicthemes</a>.</div>
                </div>
            </div>
        </div>
    </footer>
    