<app-header></app-header>


<!-- Header End -->
<br>
<br>
<br>

<!--======= intro =======-->

<section class="iq-breadcrumb overview-block-pt text-center iq-bg iq-bg-fixed iq-over-black-90 iq-box-shadow"
  style="background: url(../../../assets/images/bkk.png);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-title iq-breadcrumb-title iq-mtb-100">
          <h1 class="title iq-tw-8 iq-font-white"><span>Welcome to</span> MAKE'APP</h1>
          <h2 style="color: aliceblue;">You are now ready to build your mobile app. Just follow these easy steps to get
            your app live.</h2>
          <div class="divider white"></div>
        </div>
        <ul class="breadcrumb">
          <li><a href="index.html"><i class="ion-home"></i> Home</a></li>
          <li class="active">First step</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--======= End intro =======-->

<section id="contact-us" class="iq-our-touch">
    <div class="container">
    <div class="iq-get-in iq-pall-40 white-bg">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                    <h4 class="heading-left iq-tw-6 iq-pb-20 iq-mb-40">Just follow these easy steps to get your app live.</h4>
                        <div id="formmessage">Success/Error Message Goes Here</div>
                        <table width=100% border=0>
                    <tr>
                      <td>
                        <img src="../../../assets/images/check.png" alt="Greentick" class="img-fluid">
                      </td>
                      <td><b style="color: rgb(47, 47, 201);  font-size: 15px; ">Give your app a
                          name</b></td>
                    </tr>
                  </table>


                  <br>

                  <table width=100% border=0>
                    <tr>
                      <td>
                        <img src="../../../assets/images/check.png" alt="Greentick" class="img-fluid">
                      </td>
                      <td><b style="color: rgb(47, 47, 201);  font-size: 15px; ">Select your
                          application category</b></td>
                    </tr>
                  </table>
                  <br>


                  <table width=100% border=0>
                    <tr>
                      <td>
                        <img src="../../../assets/images/check.png" alt="Greentick" class="img-fluid">
                      </td>
                      <td><b style="color: rgb(47, 47, 201);  font-size: 15px; ">Personalise your
                          app icon</b></td>
                    </tr>
                  </table>
                  <br>
                  <table width=100% border=0>
                      <tr>
                        <td>
                          <img src="../../../assets/images/check.png" alt="Greentick" class="img-fluid">
                        </td>
                        <td><b style="color: rgb(47, 47, 201);  font-size: 15px; ">Create your Lunch Screan</b></td>
                      </tr>
                    </table>
                    <br>
                    <table width=100% border=0>
                      <tr>
                        <td>
                          <img src="../../../assets/images/check.png" alt="Greentick" class="img-fluid">
                        </td>
                        <td><b style="color: rgb(47, 47, 201);  font-size: 15px; ">Create the login & Sign up pages</b></td>
                      </tr>
                    </table>
                    <br>
                    <table width=100% border=0>
                      <tr>
                        <td>
                          <img src="../../../assets/images/check.png" alt="Greentick" class="img-fluid">
                        </td>
                        <td><b style="color: rgb(47, 47, 201);  font-size: 15px; ">Choose the color theme </b></td>
                      </tr>
                    </table>
                    <br>
                    <table width=100% border=0>
                      <tr>
                        <td>
                          <img src="../../../assets/images/check.png" alt="Greentick" class="img-fluid">
                        </td>
                        <td><b style="color: rgb(47, 47, 201);  font-size: 15px; "> Go to dashboard </b></td>
                      </tr>
                    </table>

                    <br>

                      <button  class="button btn-block text-center iq-mt-30" (click)="btnClick();" >MAKE APP</button>
                    
                        <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt="#"></div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 re-mt-30">
                    <video autoplay="" playsinline="" loop="" class="addvideo m-auto img-fluid d-none d-md-block" src="assets/videos/video.mp4">
                        <source src="../../../assets/videos/video.mp4" type="video/mp4"></video>
                   </div>
            </div>
        </div>
    </div>
</section>

